body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('./bg.jpeg') no-repeat center center;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}
.container {
    text-align: center;
}

.header_text {
    margin-top: 50px;
    font-family: "Press Start 2P", serif;
    font-size: 2.0em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
